<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center mb-3">Course List</h2>
    <a href="course.php?add=1" class="btn btn-primary mb-3">Add New Course</a>
    
    <table class="table table-bordered">
        <thead>
        <tr class='text-center'>
            <th>No</th>
            <th>Course Name</th>
            <th>Code</th>
            <th>Credits</th>
            <th>Lecturer</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            DATA_TABEL
        </tbody>
    </table>
    <a href="index.php" class="btn btn-primary mb-3">Back</a>
</div>
</body>
</html>
