<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JUDUL</title>
  <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container my-4">
    <h1 class="mb-4 text-center">JUDUL</h1>

    <a class="btn btn-primary mb-3" href="lecturer.php?add=1">Add New</a>
    
    <table class="table table-bordered">
      <thead>
        <tr class='text-center'>
          <th>No</th>
          <th>Name</th>
          <th>NIDN</th>
          <th>Phone</th>
          <th>Join Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        DATA_TABEL
      </tbody>
    </table>
    <a class="btn btn-primary mb-3" href="index.php">Back</a>
  </div>
</body>
</html>
